html{
    background-color:#F5F5F5;
}

#navibar{
    background-color: #76BEBE;
}

h1{
    border-radius: nullpx;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
    color: #CF509C;
    ;
}

h2{
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;    
    text-align: center;
}

#form-grid{
    display:grid;
    grid-auto-flow: column;
    margin-top: 50px;
    grid-auto-columns: 40vw;


}